<form
  [formGroup]="registerForm"
  (ngSubmit)="submit()"
  style="width: 50%; position: fixed; left: 40%"
  class="form"
>
  <div class="input-group mb-3">
    <div class="input-group-prepend"></div>
    <div class="custom-file">
      <input
        formControlName="filess"
        type="file"
        class="custom-file-input"
        id="inputGroupFile01"
        (change)="onFileChange($event)"
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<section
  class="example-section"
  style="width: 50%; position: fixed; top: 40%; left: 20%"
>
  <mat-progress-bar
    *ngIf="startPorgress"
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value"
  >
  </mat-progress-bar>
</section>
<button
  style="position: fixed; top: 10%; left: 5%"
  class="btn btn-secondary"
  (click)="getImg()"
  *ngIf="uploaded"
>
  Click me you will get an image
</button>

<img *ngIf="img" [src]="img" alt="" />
